doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-responsive.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    style.
      body  {
      background-image: url("bg1.jpg");
      background-size:100% 100%;
      }
    h2
     p
      .main.container
            .row
                .col-md-6.col-md-offset-3
                h2.display-4.m-b-2(style='color:white;margin-left:-120px;font-weight:bold;margin-bottom:20px;font-size:50px;border:2px solid black;display:inline-block;background-color:#7d7373;') Course Management System
                
                
  body
      block content
    
